<div class="border p-5">

  <div class="d-flex justify-content-between">
    <h1 class="m-0">Your lists</h1>
    <%= link_to "Create new list", new_list_path, class: "align-baseline btn btn-primary mb-3 rounded-pill" %>
  </div>



  <div class="p-5">
    <% if @lists.count.positive? %>
      <ul class="list-group list-group-horizontal">
        <% @lists.each do |list| %>
          <li class="list-group-item rounded-pill m-3"><%= link_to list.name.capitalize, list_path(list), class: "nav-link" %></li>
        <% end %>
      </ul>
    <% else %>
      <h1 class="text-center">Create new list!</h1>
    <% end %>
  </div>


</div>
