<div class="border p-5">

  <div class="d-flex justify-content-between">
    <h1 class="m-0">New list</h1>
    <%= link_to "Back", lists_path, class: "align-baseline btn btn-secondary rounded-pill mb-3" %>
  </div>

  <div class="border p-5">
    <%= simple_form_for(@list) do |f| %>
      <%= f.input :name %>
      <%= f.submit class: "align-baseline btn btn-primary mb-3 rounded-pill"%>
    <% end %>
  </div>
</div>
