<h1>Your bookmarks</h1>
<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><%= link_to bookmark.comment, list_bookmark_path(bookmark) %></li>
  <% end %>
</ul>

<%= link_to "Create new bookmark", new_list_bookmark_path %>
